<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>controller.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekLogin</servlet-name>
        <servlet-class>controller.CekLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekRegister</servlet-name>
        <servlet-class>controller.CekRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>controller.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Event</servlet-name>
        <servlet-class>controller.Event</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>controller.Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faith</servlet-name>
        <servlet-class>controller.Faith</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>controller.MyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPelayan</servlet-name>
        <servlet-class>controller.RegisterPelayan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterBabtis</servlet-name>
        <servlet-class>controller.RegisterBabtis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekRegisterBabtis</servlet-name>
        <servlet-class>controller.CekRegisterBabtis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahArtikel</servlet-name>
        <servlet-class>controller.TambahArtikel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekTambahArtikel</servlet-name>
        <servlet-class>controller.CekTambahArtikel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeStaff</servlet-name>
        <servlet-class>controller.HomeStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventStaff</servlet-name>
        <servlet-class>controller.EventStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceStaff</servlet-name>
        <servlet-class>controller.ServiceStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaithStaff</servlet-name>
        <servlet-class>controller.FaithStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahArtikelStaff</servlet-name>
        <servlet-class>controller.TambahArtikelStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekTambahArtikelStaff</servlet-name>
        <servlet-class>controller.CekTambahArtikelStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahEvent</servlet-name>
        <servlet-class>controller.TambahEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekTambahEvent</servlet-name>
        <servlet-class>controller.CekTambahEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEvent</servlet-name>
        <servlet-class>controller.RegisterEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekRegisterEvent</servlet-name>
        <servlet-class>controller.CekRegisterEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewDownloadEventPDF</servlet-name>
        <servlet-class>controller.PreviewDownloadEventPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewDownloadEventWord</servlet-name>
        <servlet-class>controller.PreviewDownloadEventWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewDownloadServicePDF</servlet-name>
        <servlet-class>controller.PreviewDownloadServicePDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviewDownloadServiceWord</servlet-name>
        <servlet-class>controller.PreviewDownloadServiceWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPesan</servlet-name>
        <servlet-class>controller.RegisterPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekRegisterPesan</servlet-name>
        <servlet-class>controller.CekRegisterPesan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusArtikel</servlet-name>
        <servlet-class>controller.HapusArtikel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEvent</servlet-name>
        <servlet-class>controller.UpdateEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekUpdateEvent</servlet-name>
        <servlet-class>controller.CekUpdateEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HapusEvent</servlet-name>
        <servlet-class>controller.HapusEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMyProfile</servlet-name>
        <servlet-class>controller.UpdateMyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekUpdateMyProfile</servlet-name>
        <servlet-class>controller.CekUpdateMyProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekLogin</servlet-name>
        <url-pattern>/CekLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekRegister</servlet-name>
        <url-pattern>/CekRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Event</servlet-name>
        <url-pattern>/Event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faith</servlet-name>
        <url-pattern>/Faith</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPelayan</servlet-name>
        <url-pattern>/RegisterPelayan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterBabtis</servlet-name>
        <url-pattern>/RegisterBabtis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekRegisterBabtis</servlet-name>
        <url-pattern>/CekRegisterBabtis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahArtikel</servlet-name>
        <url-pattern>/TambahArtikel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekTambahArtikel</servlet-name>
        <url-pattern>/CekTambahArtikel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeStaff</servlet-name>
        <url-pattern>/HomeStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventStaff</servlet-name>
        <url-pattern>/EventStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceStaff</servlet-name>
        <url-pattern>/ServiceStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaithStaff</servlet-name>
        <url-pattern>/FaithStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahArtikelStaff</servlet-name>
        <url-pattern>/TambahArtikelStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekTambahArtikelStaff</servlet-name>
        <url-pattern>/CekTambahArtikelStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahEvent</servlet-name>
        <url-pattern>/TambahEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekTambahEvent</servlet-name>
        <url-pattern>/CekTambahEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEvent</servlet-name>
        <url-pattern>/RegisterEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekRegisterEvent</servlet-name>
        <url-pattern>/CekRegisterEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewDownloadEventPDF</servlet-name>
        <url-pattern>/PreviewDownloadEventPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewDownloadEventWord</servlet-name>
        <url-pattern>/PreviewDownloadEventWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewDownloadServicePDF</servlet-name>
        <url-pattern>/PreviewDownloadServicePDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviewDownloadServiceWord</servlet-name>
        <url-pattern>/PreviewDownloadServiceWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPesan</servlet-name>
        <url-pattern>/RegisterPesan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekRegisterPesan</servlet-name>
        <url-pattern>/CekRegisterPesan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusArtikel</servlet-name>
        <url-pattern>/HapusArtikel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEvent</servlet-name>
        <url-pattern>/UpdateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekUpdateEvent</servlet-name>
        <url-pattern>/CekUpdateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HapusEvent</servlet-name>
        <url-pattern>/HapusEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMyProfile</servlet-name>
        <url-pattern>/UpdateMyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekUpdateMyProfile</servlet-name>
        <url-pattern>/CekUpdateMyProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcome</welcome-file>
    </welcome-file-list>
</web-app>
